# Verified clear spawn poses for warehouse_clean.sdf.
ROBOT_1_X=-3.6
ROBOT_1_Y=-29.55
ROBOT_1_YAW=-1.5708

ROBOT_2_X=-1.2
ROBOT_2_Y=-29.55
ROBOT_2_YAW=-1.5708

ROBOT_3_X=1.2
ROBOT_3_Y=-29.55
ROBOT_3_YAW=-1.5708

ROBOT_4_X=3.6
ROBOT_4_Y=-29.55
ROBOT_4_YAW=-1.5708
